<!-- this is a maven settings file -->

<settings>
	<localRepository>C:\dev\maven-repository</localRepository>

	<activeProfiles>
		<activeProfile>github</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>github</id>
			<repositories>
        
        <!--
        <repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
        -->
				
        <repository>
					<id>github</id>
					<name>GitHub de-slag Apache Maven Packages</name>
					<url>https://maven.pkg.github.com/de-slag</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<servers>
		<server>
			<id>github</id>
			<username>de-slag</username>
    
      <!-- a github personal access token with 'write:packages' rights -->
			<password></password>
		
    </server>
	</servers>
</settings>
