body {
  background-color:#ccc;
}

h1 {
  background-color:#f60;
  text-align:center;
  font-family: sans-serif;
}

td {
  border: 0px solid black;
  font-family: sans-serif;
}

table {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
   text-align: center;
   font-size:10px;
   font-family:monospace;
